
body{
    background: rgb(72,12,198);
    background: linear-gradient(90deg, rgba(72,12,198,1) 0%, rgba(174,11,204,1) 35%, rgba(104,0,255,1) 100%);
    font-family: 'Caveat', cursive;
    font-family: 'Josefin Sans', sans-serif;
}
header{
    background: rgb(63,251,178);
    background: radial-gradient(circle, rgba(63,251,178,1) 0%, rgba(171,70,252,1) 100%);
}
.navbar{
    border: solid rgb(177, 230, 117) 1px;
    height: 170px;
    display: flex;
}
.logo{
    padding-bottom: 20px;
}
.buttons{
padding-bottom: 200px;
}
.buttons a:hover{
    color: aliceblue;
}
.carousel{
    height: 100px;  
}
footer{
    align-items: flex-end;
}
.text{
    text-align: center;
    padding-top: 20px;
    color: greenyellow;
}
h2{
    padding-top: 20px;
}
